<div class="footer">
    <div class="container border">
        <table class="main maintained">
            <tbody>
                <tr>
                    <td class="align-middle">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Andromeda v1.0
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-muted">
                            Адрес для вопросов и предложений: <a href="mailto:a-l-ex-e-j@yandex.ru">a-l-ex-e-j@yandex.ru </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 small text-muted ">
                            Made by<a href="mailto:radkevich.t.s@gmail.com"> Tatsiana Shcherbina</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>